<!--&lt;!&ndash;Блок пагинации&ndash;&gt;-->
<!--     {% if page_obj.has_other_pages %}-->
<!--        <nav aria-label="Page navigation example">-->
<!--            <ul class="pagination pagination-lg justify-content-center pb-5 mt-5">-->
<!--                {% if page_obj.has_previous %}-->
<!--                    <li  class="page-item">-->
<!--                        <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;"   href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" ><span aria-hidden="true">&laquo;</span></a>-->
<!--                    </li>-->
<!--                {% endif %}-->

<!--                {% for p in page_obj.paginator.page_range %}-->
<!--                    {% if page_obj.number == p %}-->
<!--                        <li class="page-link active link-dark" style="background-color: #ae7924; border-color: #ae7924;" > {{ p }}</li>-->
<!--                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}-->
<!--                        <li class="page-num">-->
<!--                            <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ p }}" >{{ p }} </a>-->
<!--                        </li>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->

<!--                {% if page_obj.has_next %}-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--        </nav>-->
<!--    {% endif %}-->




<!--Блок пагинации-->
     {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center pb-5 mt-5">
                {% if page_obj.has_previous %}
                    <li  class="page-item">
                        <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;"   href="?page=1&q={{ request.GET.q }}" aria-label="Previous" ><span aria-hidden="true">1</span></a>
                    </li>
                <li  class="page-item">
                        <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;"   href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}" aria-label="Previous" ><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-link active link-dark" style="background-color: #ae7924; border-color: #ae7924;" > {{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
<!--                        <li class="page-num">-->
<!--                            <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ p }}" >{{ p }} </a>-->
<!--                        </li>-->
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}" aria-label="Next"><span aria-hidden="true">{{ page_obj.paginator.num_pages }}</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}