{% extends 'base.html' %}
{% load static %}
{% block title %} Раса: {{race}}{% endblock %}

{% block content %}



<div class="container">
    <div class="col">
        <h2> Персонажи расы: {{race}}</h2>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
        {% for object in object_list %}
        <div class="col"> 
            <div class="card bg-dark" style="color:#ae7924">  
                <a href="/personages/{{object.pk}}" ><img src="{{ object.image.url }}" class="card-img-top " alt="{{ object.name }}"></a>
                <div class="card-body text-center">
                    <a href="/personages/{{object.pk}}" class="card-title text-decoration-none">{{object}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% for object in personages %}
{{personages}}

{% endfor %}

{% include 'pagination.html' %}

{% endblock %}