{% extends 'base.html' %}
{% load static %}
{% block title %}{{object.name}}{% endblock %}

{% block content %}

<div class="container content">
    <div class="row row-cols-1">
        <div class="col">
            <h1>{{object.name}}</h1>
        </div>
        <hr>
        <div class="col">
            <h3>Раса: <a class="text-decoration-none"  href="">{{object.race}}</a></h3>
        </div>
        <hr>
        <div class="col">
            <p>{{object.description}}</p>
        </div>
        <hr>
        <div class="col">
            <div class="row row-cols-sm-2 row-cols-1  mx-5">
                <div class="col">
                    <img src="{{ object.image.url }}" class="" alt="{{ object.name }}">
                </div>
                <div class="col ">
                    <div class="text-center"><h3>Характеристики: </h3></div>
                    <table class="table table-dark">
                        <tr>                 
                            <td>Сила</td>
                            <td>{{object.power}}</td>         
                        </tr>
                        <tr>                 
                            <td>Ловкость</td>
                            <td>{{object.dexterity}}</td>         
                        </tr>
                        <tr>                 
                            <td>Выносливость</td>
                            <td>{{object.endurance}}</td>         
                        </tr>
                        <tr>                 
                            <td>Мудрость</td>
                            <td>{{object.wisdom}}</td>         
                        </tr>
                        <tr>                 
                            <td>Интеллект</td>
                            <td>{{object.intellect}}</td>         
                        </tr>
                        <tr>                 
                            <td>Харизма</td>
                            <td>{{object.charisma}}</td>         
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>


{% endblock %}