{% extends 'base.html' %}

{% block title %}Выпуски ПЧК{% endblock %}

{% block content %}


<div class="container py-5">
    <div class="row row-cols-4 g-4">  
        {% for object in object_list.all %}
        <div class="col"> 
            <div class="card bg-dark" style="color:#ae7924">  
                <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.title }}">
                <div class="card-body text-center">
                    <a href="/releases/{{object.pk}}" class="card-title text-decoration-none">Выпуск {{object.number}}<br>{{object.title}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!--Блок пагинации-->
     {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg justify-content-center pb-5">
                {% if page_obj.has_previous %}
                    <li  class="page-item">
                        <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;"   href="?page={{ page_obj.previous_page_number }}" aria-label="Previous" ><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-link active link-dark" style="background-color: #ae7924; border-color: #ae7924;" > {{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-num">
                            <a class="page-link  bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ p }}" >{{ p }} </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-dark" style="color: #ae7924; border-color: #ae7924;" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}